################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Tests/AdminInmueblesTests/obj
/Tests/AdminInmueblesTests/bin/Debug/netcoreapp2.2
/.vs/AdminInmuebles/v15
/Tests/AdminInmueblesTests/bin/Release/netcoreapp2.2
/Tests/AdminInmueblesTests/coverage.json
