<div [innerHTML]="welcomeMessage"></div>
<div fxFlex fxlayout="row" fxlayout.lt-md="column" style="margin: 10px 20px" *ngIf="showWarningMessage">
    <button mat-button color="warn" [innerHTML]="warningMessage"></button>
    <app-user-profile (stateChanged)="CheckUserStateAndShowWarning()">
    </app-user-profile>
    <br />
</div>
<h3>{{ 'Estate' | translate }}</h3>
<div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 30px" *ngFor="let item of availableEstate(); let i = index">
    <div fxFlexFill class="w-100" fxLayoutAlign="center">
      {{ item.alias }}
    </div>
 </div>
