<div fxFlex fxLayout="row" style="margin: 10px 20px">
  <div [fxFlex]="70">
    <div [innerHTML]="welcomeMessage"></div>
    <h4>TODO Poner una introducción explicando las funcionalidades disponibles considerando el perfil.</h4>
  </div>
  <div [fxFlex]="30">
    <div fxFlex fxLayout="row" fxLayoutAlign="end">
      <img class="logo-roof" src="../../assets/images/roof.png" />
    </div>
  </div>
</div>
<div fxFlex fxlayout="row" fxlayout.lt-md="column" *ngIf="showWarningMessage">
  <button mat-button color="warn" [innerHTML]="warningMessage"></button>
  <app-user-profile (stateChanged)="CheckUserStateAndShowWarning()">
  </app-user-profile>
  <br />
</div>
<br />
<h3 class="primary"><b>{{ 'Estate' | translate }}</b></h3>
<mat-card *ngFor="let item of availableEstate(); let i = index" style="margin: 15px">
    <mat-card-header>
      <mat-card-title>{{ item.alias }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxFlex fxLayout="row">
            <div [fxFlex]="30">
                <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                  <img [src]="item.icon" class="icon">
                </div>
            </div>
            <div [fxFlex]="70">
                <div fxFlex fxLayout="row" fxLayoutAlign="center">
                    <canvas class="small-chart" baseChart [datasets]="item.chartData" [labels]="item.chartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
                <!--<div fxFlex fxLayout="row" fxLayoutAlign="center">
                    <button mat-raised-button color="primary" (click)="pay(item)">Pagar</button>
                </div>-->
            </div>
        </div>
    </mat-card-content>
</mat-card>
