<div [innerHTML]="welcomeMessage"></div>
<div fxFlex fxlayout="row" fxlayout.lt-md="column" style="margin: 10px 20px" *ngIf="showWarningMessage">
  <button mat-button color="warn" [innerHTML]="warningMessage"></button>
  <app-user-profile (stateChanged)="CheckUserStateAndShowWarning()">
  </app-user-profile>
  <br />
</div>
<br />
<h3>{{ 'Estate' | translate }}</h3>
<mat-card *ngFor="let item of availableEstate(); let i = index" style="margin: 10px">
    <mat-card-content>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div [fxFlex]="30">
                <div fxFlex fxLayout="row" fxLayoutAlign="center" style="margin: 10px">
                    <h3>{{ item.alias }}</h3>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="center end">
                  <img [src]="item.icon" class="icon">
                </div>
            </div>
            <div [fxFlex]="70">
                <div fxFlex fxLayout="row">
                    <canvas width="200" height="70" baseChart [datasets]="item.chartData" [labels]="item.chartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType"></canvas>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="center">
                    <button mat-raised-button color="primary" (click)="pay(item)">Pagar</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
