<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <div ng-repeat="section in menu">
            <li class="nav-small-cap">{{section.Section}}</li>
            <li ng-repeat="m in section.Menus">
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i ng-class="m.IconClass"></i>
                    <span class="hide-menu">{{m.Name}}</span>
                </a>
                <ul aria-expanded="false" class="collapse" ng-show="m.Options">
                    <li ng-repeat="option in m.Options">
                        <!-- 3 levels -->
                        <a ng-class="option.Options ? 'has-arrow' : ''" ng-href="option.Href" aria-expanded="false">{{option.Title}}</a>
                        <ul aria-expanded="false" class="collapse" ng-show="option.Options">
                            <li ng-repeat="o in option.Options">
                                <a ng-href="o.Href">{{o.Title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-devider"></li>
        </div>
    </ul>
</nav>