<div class="full-container" [formGroup]="userForm">
    <mat-form-field>
        <input matInput placeholder="{{ 'RUT' | translate }}" formControlName="rut">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="{{ 'Name' | translate }}" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="{{ 'Email' | translate }}" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="{{ 'Icon' | translate }}" formControlName="icon">
    </mat-form-field>
    <div class="error-text" fxLayoutAlign="center center" *ngIf="errorMessage">
        <p>{{ errorMessage | translate }}</p>
    </div>
    <button mat-raised-button color="primary" [disabled]="lockButton" (click)="onSave()">{{ 'Save' | translate }}</button>
</div>

