<div class="login-page">
  <div class="content">
    <!-- 
      TODO:  
      * Change hardcoded texts and replace it with translate service directive
    -->
    <!-- <h1 class="app-name">Sb Admin Material</h1> -->
    <form [formGroup]="loginForm" class="login-form" fxFlex *ngIf="!condoSelection">
      <div fxFlex fxlayout="row" fxlayout.lt-md="column">
        <img class="logo-img" src="../../assets/images/logo.png" />
      </div>
      <div fxFlex fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Correo" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput type="password" placeholder="Contraseña" formControlName="password">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column" *ngIf="errorMessage">
        <div fxFlexFill class="w-100 error-text" fxLayoutAlign="center center">
          {{ errorMessage }}
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
        <div fxFlex>
            <button mat-button color="primary" (click)="onPasswordRecovery()">Quiero registrarme</button>
        </div>
        <div fxFlex fxLayoutAlign="end">
            <button mat-button color="primary" (click)="onPasswordRecovery()">Olvid&eacute; mi contraseña</button>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column" *ngIf="successMessage">
          <div fxFlexFill class="w-100 success-text" fxLayoutAlign="center center">
            <p>{{ successMessage }}</p>
          </div>
        </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <button mat-raised-button color="primary" class="w-100" (click)="onLogin()">Iniciar Sesi&oacute;n</button>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px">
        <div fxFlexFill class="w-100" fxLayoutAlign="center">
          <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
          <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
        </div>
      </div>
      <div fxFlex fxlayout="row" fxlayout.lt-md="column" *ngIf="NonProduction">
          <div fxFlexFill class="w-100" fxLayoutAlign="center">
              <mat-label>This is not a production environment !!</mat-label>
          </div>
        </div>
    </form>
    <!-- Condo selection for logged users-->
    <form [formGroup]="loginForm" class="login-form" fxFlex *ngIf="condoSelection">
        <div fxFlex fxlayout="row" fxlayout.lt-md="column">
          <img class="logo-img" src="../../assets/images/logo.png" />
          <!-- TODO finish condo selection component-->
        </div>
    </form>
    </div>
</div>
